
/*

    GLOBAL

*/


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    margin: 25px 0;
    border: 1px solid #000000;
}

section {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.5em;
}

section button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

h2, h3 {
    margin: 0;
}

svg {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}



/*

 CLASS

*/


.contenedor {
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

.container-vis-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.visualization {
    display: inline-block;
    width: 35%;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-container label {
    font-size: 1.2em;
    margin: 0 10px;
}

.slider-container input[type=range] {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}

.slider-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.slider-container input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.vis-1-info {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
    float: left;
}

.vis-1-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.vis-1-info p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
}

.vis-1-info .info-title {
    font-weight: bold;
    color: #333;
}

.vis-1-info .info-text {
    font-weight: 100;
    color: #555;
}

.vis-4 {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    float: left;
}

.vis-4 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.visualization {
    width: 100%;
    height: 500px;
}

.description-text {
    max-width: 1200px;
}

.normal-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}


.selector-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.selector-container label {
    font-size: 1.2em;
    margin-right: 10px;
}

.selector-container input[type=number],
.selector-container select {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.selector-container button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selector-container button:hover {
    background-color: #0056b3;
}

/*

 ID

*/

#toggle-view {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-view:hover {
    background-color: #0056b3;
}